body{
    background-color: #24ddec;
}
p {
    background-color: aqua;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.class1{
    background-color: #FA9494;
    font-size: 14px;
    font-family: "Arial Black";
    color: #CFD2CF;
}
